$font-size-vlg: 3rem;
$font-size-lg: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: 0.75rem;
$font-size-vsm: 0.625rem;

$line-height-lg: 1.5rem;
$line-height-md: 1.25rem;
$line-height-sm: 0.75rem;
$line-height-vsm: 0.625rem;

$font-weight-lg: 700;
$font-weight-md: 500;